@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
/* Definir fuentes de Nunito con los pesos y estilos correspondientes */

.font-nunito-light {
    font-family: 'Nunito', sans-serif;
    font-weight: 300; /* Light */
}

.font-nunito-regular {
    font-family: 'Nunito', sans-serif;
    font-weight: 400; /* Regular */
}

.font-nunito-semi-bold {
    font-family: 'Nunito', sans-serif;
    font-weight: 600; /* Semi-Bold */
}

.font-nunito-bold {
    font-family: 'Nunito', sans-serif;
    font-weight: 700; /* Bold */
}

.font-nunito-extra-bold {
    font-family: 'Nunito', sans-serif;
    font-weight: 800; /* Extra-Bold */
}

.font-nunito-italic {
    font-family: 'Nunito', sans-serif;
    font-weight: 400; /* Regular */
    font-style: italic; /* Italic */
}

.font-nunito-semi-bold-italic {
    font-family: 'Nunito', sans-serif;
    font-weight: 600; /* Semi-Bold */
    font-style: italic; /* Italic */
}

.font-nunito-extra-bold-italic {
    font-family: 'Nunito', sans-serif;
    font-weight: 800; /* Extra-Bold */
    font-style: italic; /* Italic */
}

.font-nunito-black-italic {
    font-family: 'Nunito', sans-serif;
    font-weight: 900; /* Black */
    font-style: italic; /* Italic */
}
