@import "tailwindcss";
@import "../../public/fonts/nunito.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
 
 
 
/* Theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);  
  color: var(--foreground);
  font-family: 'font-nunito-regular', sans-serif;
}

.float {
  animation: float-scale 5s ease-in-out infinite;
}

@keyframes float-scale {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-1px) scale(1.005); /* sube y agranda 5% */
  }
}